body {
}
.rowsTitle {
  color: white;
  padding: 1rem;
}
.title {
  color: #fff;
  font-size: 25px;
}

.player {
  width: 40%;
  margin: 0 auto;
}

.mainTable {
  background-color: aqua;
  padding: 2rem;
}

table {
  color: red;
  border: 1px solid gray;
}

td {
  border: 1px solid gray;
}

.square {
  width: 100%;
}
.square-in {
  width: 100%;
  padding-top: 100%;
}

.log_square {
  width: 100px;
  height: 100px;
}

.row-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.log-square {
  width: 100%;
  height: 5rem;
  font-size: 3rem;
}
